#paragraph-wrapper {
  position: relative;
  top: 5vh;
  left: 5vw;
  height: 20vh;
  width: 90vw;
  background-color: red;;
}

#team-wrapper {
  position: relative;
  top: 10vh;
  left: 5vw;
  height: 52vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#team-wrapper-part-one {
  position: relative;
  top: 0;
  left: 0;
  height: 20vh;
  width: 100%;
}

.team-title-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.team-title {
  font-size: 6vw;
  font-family: 'Montserrat', sans-serif;
}

#image-wrapper-part-one {
  position: relative;
  top: 1vh;
  left: 0;
  height: calc(100% - 6vh);
  width: 100%;
  background-color: #00ffc4;
}

#team-wrapper-part-two {
  position: relative;
  top: 0;
  left: 0;
  height: 30vh;
  width: 100%;
}

#image-wrapper-part-two {
  position: relative;
  top: 1vh;
  left: 0;
  height: calc(100% - 6vh);
  width: 100%;
  background-color: #00ffc4;
}

#instagram-wrapper {
  position: relative;
  top: 17.5vh;
  left: 5vw;
  height: 27.5vh;
  width: 90vw;
}

#instagram-wrapper-part-two {
  position: relative;
  top: 1vh;
  left: 0;
  height: 18vh;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.imageWrapper {
  position: relative;
  height: 13vw;
  width: 13vw;
  background-color: blue;
  margin: 1.15vh;
}