/*-----------------------------------------------Mood-------------------------------------------------*/
#data-main {
  position: fixed;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100vw;
  z-index: 5;
}

#building-mood {
  position: relative;
  top: 3vh;
  left: 5vw;
  height: 40vh;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#building-text-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 10%;
<<<<<<< HEAD
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
=======
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> 5dd6e4daa190a858cf57a4486d30882f5df1cfed
}

#canvasG {
  position: absolute;
  top: 7vh;
  left: 7.5vw;
  height: 73%;
  width: 73vw;
}

#textMoyG {
  position: relative;
  top: 27.5%;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 200px;
  z-index: 2;
}

#data-title {
  position: relative;
<<<<<<< HEAD
  top: 2vh;
  left: 0;
  height: 5vh;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

/*-----------------------------------------------Data-------------------------------------------------*/
#data-wrapper {
  position: absolute;
  top: 0;
=======
  top: 7vh;
  left: 10vw;
  height: 35vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#data-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  width: 600vw;
>>>>>>> 5dd6e4daa190a858cf57a4486d30882f5df1cfed
  left: 0;
  height: 100vh;
  width: 100vw;
}

#data-section-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
<<<<<<< HEAD
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> 5dd6e4daa190a858cf57a4486d30882f5df1cfed
}

.data-canva-wrapper {
  position: relative;
  top: 25vh;
  left: 5vw;
  height: 30vh;
  width: 90vw;
}

.data-question-wrapper {
  position: relative;
<<<<<<< HEAD
  top: 27.5vh;
  left: 5vw;
  height: 5vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fp-slidesNav ul {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
=======
  height: 30vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-question {
  position: relative;
  top: 0;
  left: 0;
  height: 7vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> 5dd6e4daa190a858cf57a4486d30882f5df1cfed
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  height: 40px !important;
  width: 40px !important;
  margin: -30px 0 0 -30px !important;
  border-radius: 100%;
  background-color: transparent;
  border: 0.2vh solid #000000;
  transition: all 0.2s ease-in-out;
}

<<<<<<< HEAD
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 20px !important;
  width: 20px !important;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px !important;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
=======
.data-slider {
  position: relative;
  top: 0;
  left: 0;
  height: 7.5vh;
  width: 100%;
  background-color: darksalmon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> 5dd6e4daa190a858cf57a4486d30882f5df1cfed
}
/*# sourceMappingURL=data.css.map */