/*-----------------------------------------------Mood-------------------------------------------------*/
#building-mood {
  position: relative;
  top: 5vh;
  left: 5vw;
  height: 40vh;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#building-text-wrapper {
  position: relative;
  top: 0;
  left: 5%;
  height: 10%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#canvasG {
  position: absolute;
  top: 5vh;
  left: 10%;
  height: 70%;
  width: 80%;
}

#textMoyG {
  position: relative;
  top: 20%;
  font-family: Poppins, serif;
  font-weight: 400;
  font-size: 200px;
  z-index: 2;
}

/*-----------------------------------------------Data-------------------------------------------------*/
#canvasQ1 {
  position: relative;
  top: -5vh;
  height: 90%;
  width: 80%;
}

#data {
  position: relative;
  top: 7vh;
  left: 10vw;
  height: 35vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#data-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  width: 600vw;
  left: 0;
  bottom: 0;
  height: 40vh;
}

#data-title {
  position: relative;
  top: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-size: 2.5vh;
  font-family: Poppins, serif;
  color: grey;
}

.data-wrapper {
  position: relative;
  height: 30vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-question {
  position: relative;
  top: 0;
  left: 0;
  height: 7vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question {
  font-size: 2vh;
  font-family: Poppins, serif;
  color: grey;
  text-align: center;
}

.data-slider {
  position: relative;
  top: 0;
  left: 0;
  height: 7.5vh;
  width: 100%;
  background-color: darksalmon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=data.css.map */