* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*---------------------------------------------menu Btn---------------------------------------------*/
#menu-btn {
  position: relative;
  top: 0;
  left: 0;
  height: 8.5vh;
  width: 8.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#menu-btn-burger {
  height: 0.4vh;
  width: 10vw;
  border-radius: 10vh;
  background-color: #212121;
  transition: all 0.5s ease-in-out;
}
#menu-btn-burger:before, #menu-btn-burger:after {
  content: "";
  position: absolute;
  height: 0.4vh;
  width: 10vw;
  background-color: #212121;
  border-radius: 10vh;
  transition: all 0.5s ease-in-out;
}
#menu-btn-burger:before {
  transform: translateY(-1vh);
}
#menu-btn-burger:after {
  transform: translateY(1vh);
}

#menu-btn.open #menu-btn-burger {
  transform: translateX(-5vw);
  background: transparent;
}

#menu-btn.open #menu-btn-burger::before {
  transform: rotate(45deg) translate(3.5vw, -3.5vw);
}

#menu-btn.open #menu-btn-burger::after {
  transform: rotate(-45deg) translate(3.5vw, 3.5vw);
}

#menu-btn-active {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.75s ease-in-out;
  z-index: 8;
  display: none;
}
#menu-btn-active.active {
  display: block;
  transition: all 0.75s ease-in-out;
}

.background-image {
  position: relative;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

/*-----------------------------------------------menu-------------------------------------------------*/
#menu-link {
  position: absolute;
  top: 25vh;
  left: 20vw;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
}
#menu-link:focus {
  outline: none;
}

a {
  text-decoration: none;
  user-select: none;
}
a:focus {
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-link {
  margin-bottom: 6vh;
  position: relative;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 10vw;
  color: #000000;
  pointer-events: none;
  user-select: none;
  transition: transform 0.1s linear;
  list-style: none;
  outline: none;
}

.image {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*-----------------------------------------------Logo-------------------------------------------------*/
#logo-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  height: 8.5vh;
  width: 100vw;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

#logo {
  font-size: 9vw;
  font-family: "Bebas Neue", cursive;
}

/*-----------------------------------------------Text-------------------------------------------------*/
.global-title {
  position: relative;
  font-size: 6vw;
  font-family: "Montserrat", serif;
  color: #000000;
  font-weight: 600;
}

.paragraph {
  font-family: "Montserrat", serif;
  font-size: 4.2vw;
  color: #000000;
}

.paragraph-big {
  font-family: "Montserrat", serif;
  font-size: 5vw;
  color: #000000;
}

.paragraph-bold {
  font-family: "Montserrat", serif;
  font-size: 5vw;
  color: #000000;
  font-weight: 600;
}

.paragraph-semiBold {
  font-family: "Montserrat", serif;
  font-size: 4.2vw;
  color: #000000;
  font-weight: 500;
}

.paragraph-span-blue {
  color: #1A3AC7;
  font-weight: 700;
}

.paragraph-span-green {
  color: #60D08D;
  font-weight: 700;
}

.paragraph-span-orange {
  color: #E45E2C;
  font-weight: 700;
}

.paragraph-span-pink {
  color: #EB81AF;
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
