body {
  height: 100vh;
  overflow: hidden;
}

#waiting-wrapper {
  z-index: 20;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: opacity 0.3s;
}
#backGroundSlide-wrapper{

  position: absolute;
  width: 100vw;
  height: 300vh;
}
#backGroundSlide-wrapper img{z-index: 2;
  position: absolute;
  object-fit: contain;
}
#backGroundSlide{
  position: fixed;
  height: 100vh;
  width: 100vw;
}
#backGroundSlide img{
  height: 100vh;
  width: 100vw;

}

#waiting-anim {
  width: 50vw;
  background: white;
  -o-object-fit: contain;
     object-fit: contain;
}
#questionAndRepButton-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: top 1s ease;
  transition: top 1s ease;
}
#questionAndRepSlide-wrapper {
  position: fixed;
  width: 100vw;
  height: 300vh;
  top: -100vh;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: top 1s ease;
  transition: top 1s ease;
}
#repP-wrapper, #repN-wrapper,#question-wrapper{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s;
}
#repP-wrapper p, #repN-wrapper p,#question-wrapper p,#waiting-wrapper p{
  z-index: 4;
  font-family: "Bebas Neue", cursive;
  font-size: 10vw;
  width: 70vw;
  text-align: center;
}
#repN-wrapper {
  top: 200vh;
}

#question-wrapper {
  top: 100vh;
}

#repP-wrapper {
}

#previewRep1, #previewRep2{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  width: 100vw;
  height: 100px;
  -webkit-transition:bottom 0.4s ease, top 0.4s ease, opacity 0.2s;
  transition: bottom 0.4s ease , top 0.4s ease, opacity 0.2s;
}
#previewRep1 {
  top: -100px;
}
#previewRep2 {
  bottom: -100px;
}
#previewRep1 p, #previewRep2 p{
  position: relative;
  text-align: center;
  font-size: 6vw;
  width: 80vw;
  font-family: "Montserrat", serif;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
h6{
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  font-family: "Montserrat", serif;
}
.la-angle-down, .la-angle-up{
  font-size: 5vw;
  height:  5vw;
  width: 5vw;
  color: black;
}

#arrowDown-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  height: 15vw;
  top: -80px;
}
#arrowUp-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  height: 15vw;
  bottom: -80px;
}